body {
    font-family: Arial, sans-serif;
    background-color: #0D2B2F;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 3em;
    background: #13383D;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.book-cover {
    width: 100%;
    max-width: 300px;
    border: 5px solid #FFC857;
    box-shadow: 0 0 20px rgba(255, 200, 87, 0.8);
}
.author-img {
    width: 100px;
    border-radius: 50%;
    margin-top: 10px;
}
h1 {
    font-size: 28px;
}
h2 {
    color: #FFC857;
}
p {
    font-size: 16px;
    line-height: 1.5;
}
.divider {
    width: 60%;
    margin: 25px auto;
    border: none;
    border-top: 1px solid #1E474D;
    position: relative;
}

.divider::before {
    content: "✦";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #13383D;
    padding: 0 15px;
    color: #FFC857;
}